<center>

<h1> LOGIN </h1>
<%= form_with model: @login, local: true do |form| %>
<p>
<%= form.label :Username %><br>
<%= form.text_field :Username %>
</p>

<p>
<%= form.label :Password %><br>
<%= form.text_field :Password %>
</p>
<p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to 'Back', welcome_index_path %></h1>